@model IEnumerable<MotelManager.Models.EF.Cart>

@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_LayoutOrder.cshtml";
}


<style>
    .btn-primary {
        background: #003580;
        border-color: transparent;
        border-radius: 10px;
    }
    .btn-primary:hover {
        background: #1963cb;
        border-color: transparent;
    }
    .btn-primary a {
        display: block;
        color: #fff;
        font-size: 1.5rem;
        padding: 5px 15px;
        text-decoration: none;
        border: transparent;
    }
</style>

<h2>Cart</h2>

<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Giá
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Tổng tiền
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.imotel
            </td>
            <td>
                @item.dprice
            </td>
            <td>
                @item.quantity
            </td>

            <td>
                @item.money
            </td>

            @*<td>
                <button class="btn btn-danger">
                    @Html.ActionLink("Xóa Phòng", "XoaGioHang", new { id = item.imotel })
                </button>

            </td>*@
            <th>
                <a href="#" onclick="DelUser(imotel => @item.imotel)" class="btn btn-danger btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-trash"></i>
                    </span>
                    <span class="text">Del</span>
                </a>
            </th>
        </tr>
    }

</table>
<button class="btn-primary">
    @Html.ActionLink("Đặt Phòng", "OrderRoom")
</button>

<script>
    var DelUser = function (imotel) {
        console.log(imotel)
        swal({
            title: "Bạn có chắc muốn xóa?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                swal("Đã xóa", {
                    icon: "success",
                }).then(() => {
                    $.ajax({
                        type: 'post',
                        url: '@Url.Action("XoaGioHang", "Cart")',
                        data: { imotel: imotel },
                        dataType: 'json',
                        success: function (data) {
                            if (data.result == 'success') {
                                location.reload();
                            }
                            else if (data.result == 'error') {
                                swal("Lỗi hệ thống, Không thể xóa!", "", "error");
                            }
                            else {
                                swal("Không thể xóa tài khoản admin duy nhất!", "", "error");
                            }

                        },
                        error: function () {
                            swal("Lỗi hệ thống", "", "error");
                        }
                    })
                })
            } else {
                swal("Đã hủy");
            }
        });
    }
</script>