
@{
    ViewBag.Title = "EditPost";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var listCity = ViewBag.listCity;
    var listType = ViewBag.listType;
    List<MotelManager.Models.EF.District> districts = ViewBag.listDistrict;
    List<MotelManager.Models.EF.SubDistrict> subDistricts = ViewBag.listSubDistrict;
    List<MotelManager.Models.EF.Image> images = ViewBag.listImage;
    var user = ViewBag.User;
    List<MotelManager.Models.EF.Account> listuser = ViewBag.listuser;
}

<style>
    .btn-add {
        margin-bottom: 20px
    }

    .ck-editor__editable {
        min-height: 250px;
    }

    .dropzone {
        width: 100px;
        height: 90px;
        border: 1px dashed #999;
        border-radius: 3px;
        text-align: center;
        margin-right: 30px;
        padding: 0
    }

    .upload-icon {
        margin: 25px 2px 2px 2px;
    }

    .upload-input {
        position: relative;
        top: -62px;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }


    .upload-icon {
        margin: 0
    }

    .custom-file {
        position: relative;
        font-family: arial;
        overflow: hidden;
        margin-bottom: 10px;
        width: auto;
        display: inline-block;
        padding: 10px;
    }

    .custom-file-input {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        opacity: 0;
        z-index: 100;
    }

    .custom-file img {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
    }

    ul.file-list {
        font-family: arial;
        list-style: none;
        padding: 0;
    }

        ul.file-list li {
            border-bottom: 1px solid #ddd;
            padding: 5px;
        }

    .remove-list {
        cursor: pointer;
        margin-left: 10px;
    }

    .btn-iframe {
        border: 0;
        background-color: white;
    }
    /* Slideshow container */
    .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }
</style>
<script src="~/Public/bootstrapv5/js/script.js"></script>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Create Post</h1>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Tạo bài đăng</h6>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("EditPost", "PostManager", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-group">
                <h2 style="font-size: 1.5em">Địa chỉ cho thuê</h2>  <br />
                <div class="row">
                    <div class="col-md-4">
                        <label for="">Tỉnh/Thành phố</label>
                        <select class="selectpicker" id="city-search" data-width="100%" data-live-search="true" name="city_id">
                            <option value="" data-tokens="" selected>--Chọn thành phố--</option>
                            @foreach (var item in listCity)
                            {
                                if (Model.Motel.city_id == item.city_id)
                                {
                                    <option value="@item.city_id" data-tokens="@item.name" selected>@item.name</option>
                                }
                                else
                                {
                                    <option value="@item.city_id" data-tokens="@item.name">@item.name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="">Quận/Huyện</label>
                        <select class="selectpicker" id="district-search" data-width="100%" data-live-search="true" name="district_id">
                            <option value="" data-tokens="" selected>--Chọn quận--</option>
                            @foreach (var item in districts)
                            {
                                if (Model.Motel.district_id == item.district_id)
                                {
                                    <option value="@item.district_id" data-tokens="@item.name" selected>@item.name</option>
                                }
                                else
                                {
                                    <option value="@item.district_id" data-tokens="@item.name">@item.name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="">Phường/Xã</label>
                        <select class="selectpicker" id="sub-district-search" data-width="100%" data-live-search="true" name="sub_district_id">
                            <option value="" data-tokens="" selected>--Chọn phường--</option>
                            @foreach (var item in subDistricts)
                            {
                                if (Model.Motel.sub_district_id == item.sub_district_id)
                                {
                                    <option value="@item.sub_district_id" data-tokens="@item.name" selected>@item.name</option>
                                }
                                else
                                {
                                    <option value="@item.sub_district_id" data-tokens="@item.name">@item.name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="">Số nhà</label>
                <input type="text" class="form-control" name="address" value="@Model.Motel.address" placeholder="Nhập số nhà của bạn">
            </div>
            <div class="form-group">
                <label for="">Nhập địa điểm / iframe</label>
                <input type="text" class="form-control" name="iframe" value="@Model.Motel.iframe" placeholder="Nhập iframe">
            </div>
            <h2 style="font-size: 1.5em">Thông tin mô tả</h2>
            <br />
            <div class="form-group">
                <label for="">Loại cho thuê</label>
                <select class="form-control" aria-label="" name="type_id">
                    <option selected>--Chọn loại cho thuê--</option>
                    @foreach (var item in listType)
                    {
                        if (Model.Motel.type_real_estate_id == item.type_real_estate_id)
                        {
                            <option value="@item.type_real_estate_id" data-tokens="@item.name" selected>@item.name</option>
                        }
                        else
                        {
                            <option value="@item.type_real_estate_id" data-tokens="@item.name">@item.name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="">Tiêu đề</label>
                <input type="text" class="form-control" placeholder="Nhập tiêu đề" value="@Model.title" name="title">
            </div>
            <div class="form-group">
                <label for="">Tiêu đề phụ</label>
                <input type="text" class="form-control" placeholder="Nhập tiêu đề phụ" value="@Model.sub_title" name="sub_title">
            </div>
            <div class="form-group">
                <label for="">Mô tả</label>
                <textarea placeholder="Nhập mô tả" class="form-control" id="description" rows="10" name="description">@Html.Raw(Model.description)</textarea>
            </div>
            <div class="form-group">
                <label for="">Thông tin liên hệ</label>
                <input type="text" class="form-control" placeholder="Nhập thông tin liên hệ" value="@user.phone">
            </div>
            <div class="form-group">
                <label for="">Giá</label>
                <input type="text" class="form-control" name="price" placeholder="đồng" value="@Model.Motel.price">
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label for="">Lầu</label>
                        <input type="number" class="form-control" value="@Model.Motel.floor" placeholder="Nhập" name="floor">
                    </div>
                    <div class="col-md-3">
                        <label for="">Phòng ngủ</label>
                        <input type="number" class="form-control" value="@Model.Motel.bedroom" placeholder="Nhập" name="bedroom">
                    </div>
                    <div class="col-md-3">
                        <label for="">Nhà tắm</label>
                        <input type="number" class="form-control" value="@Model.Motel.bathroom" placeholder="Nhập" name="bathroom">
                    </div>
                    <div class="col-md-3">
                        <label for="">Diện tích</label>
                        <input type="number" class="form-control" value="@Model.Motel.acreage" placeholder="Nhập" name="acreage">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="uploadImage">Tải ảnh đại diện</label>
                <span id="stop-upload" style="color: red"></span>
                <div class="dropzone">
                    <img src="@Model.image_post" class="upload-icon" id="pictureUpload" width="98" height="87" />
                    <input type="file" class="upload-input" id="fileUpload" name="ImageUpload" accept="image/*" onchange="ShowImagePreview(this, document.getElementById('pictureUpload'))" />
                </div>
            </div>
            <div class="form-group">
                <label for="">Tải ảnh chi tiết</label>
                <div class="row" style="margin-left: 0px" id="list-images-post">
                    @if (images.Count != 0)
                    {
                        foreach (var item in images)
                        {
                            <img src="@item.url" class="upload-icon" id="pictureUpload" width="98" height="87" />
                        }
                    }
                </div>
                <p class="" id="EPdropzone">
                    <label for="attachment">
                        <a class="" role="button" id="btn-edit" aria-disabled="false">
                            Chỉnh sửa
                        </a>
                    </label>

                    <input type="file" name="files" accept="image/*" id="attachment" style="visibility: hidden; position: absolute;" multiple />

                </p>
                <p id="files-area">
                    <span id="filesList">
                        <span id="files-names"></span>
                    </span>
                </p>
            </div>
            <label for="">Chọn thông tin người liên hệ</label>
            <select class="selectpicker" id="city-search" data-width="100%" data-live-search="true" name="account_id">
                <option value="@Model.account_id" data-tokens="" selected>--Chọn người liên hệ--</option>
                @foreach (var item in listuser)
                {
                    if(item.account_id == Model.account_id)
                    {
                        <option value="@item.account_id" data-tokens="@item.username" selected>@item.username / @item.fullname</option>
                    }
                    else
                    {
                        <option value="@item.account_id" data-tokens="@item.username">@item.username / @item.fullname</option>
                    }
                }
            </select>
            <input value="@Model.post_id" name="post_id" hidden/>
            <button type="submit" class="btn btn-primary btn-icon-split" style="margin-top: 30px">
                <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">Chỉnh sửa bài đăng</span>
            </button>
        }
    </div>
</div>
<script src="~/Public/js/ckeditor/ckeditor.js"></script>
<script src="~/Public/js/jquery-3.5.1.js"></script>
<script>
    ClassicEditor
        .create(document.querySelector('#description'))
        .catch(error => {
            console.error(error);
        });
    const dt = new DataTransfer();

    var btnIframe = $('#btn-iframe')
    btnIframe.click(function (e) {
        e.preventDefault()
        $('#image-tutorial').removeClass('hide-iframe')
        $('#image-tutorial').addClass('show-iframe')
        $('#btn-close-tutorial').removeClass('hide-iframe')
        $('#btn-close-tutorial').addClass('show-iframe')
    })
    $('#btn-close-tutorial').click(function () {
        $('#image-tutorial').removeClass('show-iframe')
        $('#image-tutorial').addClass('hide-iframe')
        $('#btn-close-tutorial').removeClass('show-iframe')
        $('#btn-close-tutorial').addClass('hide-iframe')
    })
    $("#attachment").on('change', function (e) {
        $('#pictureUploadDetail').remove()
        $('#EPdropzone').removeClass('dropzone')
        for (var i = 0; i < this.files.length; i++) {
            let fileBloc = $('<span/>', { class: 'file-block' }),
                fileName = $('<span/>', { class: 'name', text: this.files.item(i).name });
            fileBloc.append('<span class="file-delete"><span>x</span></span>')
                .append(fileName);
            $("#filesList > #files-names").append(fileBloc);
        };
        for (let file of this.files) {
            dt.items.add(file);
        }
        this.files = dt.files;

        $('span.file-delete').click(function () {
            let name = $(this).next('span.name').text();
            $(this).parent().remove();
            for (let i = 0; i < dt.items.length; i++) {
                if (name === dt.items[i].getAsFile().name) {
                    dt.items.remove(i);
                    continue;
                }
            }
            document.getElementById('attachment').files = dt.files;
        });
    });
    var citySearch = $('#city-search')
    /*citySearch.find(":selected").val()*/
    var btnSearch = $('#btn-search')
    var districtSearch = $('#district-search');
    var subDSearch = $('#sub-district-search')


    citySearch.change(function () {
        var city_id = citySearch.find(":selected").val()
        $.ajax({
            type: "POST",
            url: "/Home/GetDistrictByIdCity",
            data: { city_id: city_id },
            dataType: "json",
            success: function (res) {
                if (res.length == 0) {
                    districtSearch.html('<option value="" data-tokens="">Không tìm thấy dữ liệu</option>')
                    $('.selectpicker').selectpicker('refresh');
                }
                else {
                    districtSearch.html('<option value="" data-tokens="" selected>--Chọn quận--</option>')
                    $('.selectpicker').selectpicker('refresh');
                    $.each(res, function (index, value) {
                        districtSearch.append('<option value="' + value.district_id + '" data-tokens="' + value.name + '">' + value.name + '</option>')
                        $('.selectpicker').selectpicker('refresh');
                    })
                }
            }
        })
    })

    districtSearch.change(function () {
        var district_id = districtSearch.find(":selected").val()
        $.ajax({
            type: "POST",
            url: "/Home/GetSubDistrictByIdD",
            data: { district_id: district_id },
            dataType: "json",
            success: function (res) {
                if (res.length == 0) {
                    subDSearch.html('<option value="" data-tokens="">Không tìm thấy dữ liệu</option>')
                    $('.selectpicker').selectpicker('refresh');
                }
                else {
                    subDSearch.html('<option value="" data-tokens="" selected>--Chọn phường--</option>')
                    $('.selectpicker').selectpicker('refresh');
                    $.each(res, function (index, value) {
                        subDSearch.append('<option value="' + value.sub_district_id + '" data-tokens="' + value.name + '">' + value.name + '</option>')
                        $('.selectpicker').selectpicker('refresh');
                    })
                }
            }
        })
    })
</script>
