@model PagedList.IPagedList<MotelManager.Models.EF.Post>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Home Page";
    var listpost = ViewBag.listpost;
    List<MotelManager.Models.EF.Favorite> favorites = ViewBag.listfavorite;
    var session = (MotelManager.Common.UserLogin)Session[MotelManager.Common.CommonConstants.USER_SESSION];
    List<MotelManager.Models.EF.Post> listnew = ViewBag.listnew;
    List<MotelManager.Models.EF.City> listcity = ViewBag.listcity;
    MotelManager.Models.EF.About about = ViewBag.about;
}
<style>
    .heart-post {
        font-size: 2em;
        color: #003580;
    }

    #user-id {  
        visibility: hidden
    }

    .right-side {
        padding: 0;
        border: 0;
        background-color: #f5f5f5;
    }

    .right-side > h2 {
        font-size: 2em;
        margin-top: 20px
    }
    .pagination-container{
        text-align: center
    }
    .line-post{
        margin: 10px 0 10px 0
    }
    .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
        background-color: #003580;
        border-color: #003580;
    }
    .pagination > li > a, .pagination > li > span {
        color: #05222A;
    }
    .list-city{
        background-color: white;
        margin-top: 10px
    }

    .list-city-item a {
        text-decoration: none;
        line-height: 1.75;
    }

    .list-city-item:hover {
        background: #3274d557;
    }
    .new-post {
        background-color: white;
        padding-top: 10px;
        border-radius: 10px;
        border-style: outset;
        padding: 10px;
    }
    .list-city {
        background-color: white;
        padding-top: 10px;
        border-radius: 10px;
        border-style: outset;
        padding: 10px;
    }
    .info{
        color: red;
        font-weight: bold;

    }
    .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
        background-color: #003580;
    }
    .title {
        color: #003580;
    }
</style>
<div class="popular-w3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 p-lg-3 left-side">

                <h2 class="text-left" style="margin-top: 20px; font-size:2em">Danh sách tin đăng</h2>
                <div class="popular-grids" id="listbaiviet">
                    <div class="row" id="show_bai_viet">
                        @foreach (var item in Model)
                        {

                            int temp = 0;
                            if (item.description.Length >= 150)
                            {
                                item.description = item.description.ToString().Substring(0, 150) + "...";
                            }

                            <div class="card-post row">
                                <div class="col-md-4 info-img">
                                    <a href="/Post/@item.slug">
                                        <img src="@item.image_post" class="image-post" width="250" height="200" />
                                    </a>
                                </div>
                                <div class="col-md-7 info-post">
                                    <a href="@Url.Action("Detail","Post", new { slug = item.slug})">
                                        <label class="title">@item.title</label><br />
                                        <label class="sub-title">@item.sub_title</label><br />
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="info">@(string.Format("{0:#,##0}", item.Motel.price).Replace(",",".")) đ &nbsp @item.Motel.acreage m²</label>
                                            </div>
                                            <div class="col-md-6">
                                                Ngày đăng: @item.created_date.ToString().Substring(0, 10)
                                            </div>
                                        </div>
                                        <label class="description">@item.description</label><br />
                                    </a>
                                </div>
                                <div class="col-md-1">
                                    @if (favorites != null)
                                    {
                                        if (session != null)
                                        {
                                            <span id="user-id">@session.userID</span>
                                            foreach (var item2 in favorites)
                                            {
                                                if (item2.post_id == item.post_id && item2.account_id == session.userID)
                                                {
                                                    <i class="fas fa-heart heart-post btn-heart" data-id="@item.post_id"></i>
                                                    temp++;
                                                }
                                            }
                                        }
                                    }
                                    @if (temp == 0)
                                    {
                                        <i class="far fa-heart heart-post btn-heart" data-id="@item.post_id"></i>
                                    }
                                </div>
                            </div>
                            <hr class="line-post" />
                        }
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-lg-3 right-side">
                <div class="new-post">
                    <h2 class="text-left ">Tin Mới Đăng</h2>
                    @foreach (var itemnew in listnew)
                    {
                        <a style="color: black;" href="@Url.Action("Detail","Post", new { slug = itemnew.slug})">
                            <div style="border: 1px solid #eee; border-radius: 5px; background-color: #eee; margin-bottom: 15px; margin-top: 10px;">
                                <div style="padding: 5px 10px 5px 10px;">
                                    <label>
                                        @{
                                            if (itemnew.title.Length > 60)
                                            {
                                                @itemnew.title.Substring(0, 60)
                                            }
                                            else
                                            {
                                                @itemnew.title
                                            }
                                        }
                                    </label><br />
                                    @{
                                        if (itemnew.sub_title.Length > 30)
                                        {
                                            <p>@itemnew.sub_title.Substring(0, 30) ...</p>
                                        }
                                        else
                                        {
                                            <p>@itemnew.sub_title</p>
                                        }
                                    }
                                    <label style="color: #003580">Ngày Đăng: &nbsp;</label>@itemnew.created_date.ToString().Substring(0, 10)
                                </div>
                            </div>
                        </a>
                    }
                </div>
                <div class="list-city">
                    <label>Danh sách thành phố</label>
                    <hr />
                    @foreach (var item in listcity)
                    {
                        <p class="list-city-item"><a href="@Url.Action("Search","Home", new { city_id = item.city_id})" style="color: #636e72">Thuê nhà trọ @item.name</a></p>
                    }
                </div>
            </div>
            
        </div>
    </div>
</div>
<script>
    var userId = $("#user-id").text()
    var btnHeart = $(".btn-heart")

    for (let i = 0; i < btnHeart.length; i++) {
        btnHeart[i].addEventListener("click", function (e) {
            e.preventDefault()
            var postId = btnHeart[i].getAttribute('data-id')

            if (userId == "") {
                swal("Bạn cần đăng nhập để lưu!", "", "warning");
            }
            else {
                $.ajax({
                    type: 'post',
                    url: '/Post/SavePost',
                    data: { post_id: postId, user_id: userId },
                    dataType: 'json',
                    success: function (data) {
                        console.log(data.Message)
                        if (data.Message == 'save') {
                            swal("Bạn đã lưu bài!", "", "success");
                            btnHeart[i].classList.remove("far")
                            btnHeart[i].classList.add("fas")
                        }
                        else if (data.Message == 'remove') {
                            swal("Bạn đã hủy lưu!", "", "info");
                            btnHeart[i].classList.remove("fas")
                            btnHeart[i].classList.add("far")
                        }
                        else {
                            swal("Bạn đã hủy lưu!", "", "error");
                        }

                    },
                    error: function () {
                        swal("Bạn đã hủy lưu!", "", "error");
                    }
                })
            }
        })
    }
</script>