@model MotelManager.Models.EF.Account
@{
    ViewBag.Title = "EditUser";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    .btn-add {
        margin-bottom: 20px
    }
</style>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Edit user</h1>
</div>
<div class="card shadow mb-4">
    <form action="@Url.Action("EditUser","AccountAdmin")" method="post" id="add-user" enctype = "multipart/form-data">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">User</h6>
        </div>
        <div class="card-body">
            <div class="mb-3 row">
                <label for="" class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="username" value="@Model.username" id="username" placeholder="Nhập username">
                    <span id="span-username" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="password" placeholder="Nhập password">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="email" value="@Model.email" name="email" placeholder="Nhập email">
                    <span id="span-email" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="" class="col-sm-2 col-form-label">Phone</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="phone" value="@Model.phone" placeholder="Nhập số điện thoại">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="" class="col-sm-2 col-form-label">Họ và tên</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="fullname" value="@Model.fullname" placeholder="Nhập họ và tên">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="" class="col-sm-2 col-form-label">Vai trò</label>
                <div class="col-sm-10">
                    <select class="form-control" name="role">
                        @if (Model.role == "admin")
                        {
                            <option value="user">--Chọn vai trò--</option>
                            <option value="admin" selected>Admin</option>
                            <option value="user">User</option>
                        }
                        else
                        {
                            <option value="user">--Chọn vai trò--</option>
                            <option value="admin">Admin</option>
                            <option value="user" selected>User</option>
                        }
                    </select>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="" class="col-sm-2 col-form-label">Giới tính</label>
                <div class="col-sm-10">
                    <select class="form-control" name="sex">
                        @if (Model.sex == "nam")
                        {
                            <option value="khac">--Chọn giới tính--</option>
                            <option value="nam" selected>Nam</option>
                            <option value="nu">Nữ</option>
                            <option value="khac">Khác</option>
                        }
                        else if (Model.sex == "nu")
                        {
                            <option value="khac">--Chọn giới tính--</option>
                            <option value="nam">Nam</option>
                            <option value="nu" selected>Nữ</option>
                            <option value="khac">Khác</option>
                        }
                        else
                        {
                            <option value="khac">--Chọn giới tính--</option>
                            <option value="nam">Nam</option>
                            <option value="nu">Nữ</option>
                            <option value="khac" selected>Khác</option>
                        }
                    </select>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="" class="col-sm-2 col-form-label">Status</label>
                <div class="col-sm-10">
                    <select class="form-control" name="status">
                        @if (Model.status == true)
                        {
                            <option value="true">--Chọn trạng thái--</option>
                            <option value="true" selected>Active</option>
                            <option value="false">Block</option>
                        }
                        else
                        {
                            <option value="true">--Chọn trạng thái--</option>
                            <option value="true">Active</option>
                            <option value="false" selected>Block</option>
                        }
                    </select>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="" class="col-sm-2 col-form-label">Quyền hạn</label>
                <div class="col-sm-10">
                    <select class="form-control" name="authority">
                        @if (Model.authority == 1)
                        {
                            <option value="3">--Chọn quyền hạn--</option>
                            <option value="1" selected>All</option>
                            <option value="2">Post</option>
                            <option value="3">View</option>
                        }
                        else if (Model.authority == 2)
                        {
                            <option value="3">--Chọn quyền hạn--</option>
                            <option value="1">All</option>
                            <option value="2" selected>Post</option>
                            <option value="3">View</option>
                        }
                        else
                        {
                            <option value="3">--Chọn quyền hạn--</option>
                            <option value="1">All</option>
                            <option value="2">Post</option>
                            <option value="3" selected>View</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">Ảnh đại diện: </label>
                <div class="col-sm-10">
                    <div class="flex-column image-cropper">
                        <div class="avatar-detail"><img id="avatar" src="@Model.avatar" width="200" height="200" /></div>
                    </div>
                    <label for="upload-image" class="btn btn-info btn-upload" style="cursor: pointer;">Chọn ảnh</label>
                    <input type="file" name="ImageUpload" hidden class="btn btn-info " id="upload-image" onchange="ShowImagePreview(this, document.getElementById('avatar'))" />
                </div>
            </div>
            <div class="btn-add">
                <button type="submit" class="btn btn-info btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-edit"></i>
                    </span>
                    <span class="text">Update</span>
                </button>
            </div>
            <input value="@Model.account_id" hidden name="account_id" />
        </div>
    </form>
</div>
<script src="~/Areas/Admin/Resources/vendor/jquery/jquery.min.js"></script>
<script src="~/Public/bootstrapv5/js/script.js"></script>
<script>
    var inputUsername = $('#username')
    inputUsername.blur(function () {
        $.ajax({
            type: 'post',
            url: '@Url.Action("CheckUsername", "AccountAdmin")',
            data: { username: inputUsername.val() },
            dataType: 'json',
            success: function (data) {
                if (data.result == 'allow') {
                    $('#span-username').html("")
                }
                else if (data.result == 'deny') {
                    $('#span-username').html("username đã tồn tại")
                }
                else {
                    swal("Lỗi hệ thống", "", "error");
                }
            },
            error: function () {
                swal("Lỗi hệ thống", "", "error");
            }
        })
    })
    var inputEmail = $('#email')
    console.log(inputEmail.val())
    inputEmail.blur(function () {
        $.ajax({
            type: 'post',
            url: '@Url.Action("CheckEmail", "AccountAdmin")',
            data: { email: inputEmail.val() },
            dataType: 'json',
            success: function (data) {
                if (data.result == 'allow') {
                    $('#span-email').html("")
                }
                else if (data.result == 'deny') {
                    $('#span-email').html("email đã được đăng ký")
                }
                else {
                    swal("Lỗi hệ thống", "", "error");
                }
            },
            error: function () {
                swal("Lỗi hệ thống", "", "error");
            }
        })
    })
</script>

